.carousel {
    position: relative;
    overflow: hidden;
    height: 350px;
    width: 80%;
    margin: 0 auto; /* Center the carousel horizontally */
    border-radius: 8px;
    align-items: center;
    display: flex;

}

.slides {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.slide {
    min-width: 100%;
    height: 350px;
    display: flex;
    flex-direction: column; /* Stack content vertically */
    justify-content: center; /* Center content vertically */
    align-items: center; /* Center content horizontally */
    background: #c9daf8;
    padding: 40px; /* Add space inside the slide */
    box-sizing: border-box; /* Include padding in width/height */
    text-align: center;
}

.slide p {
    font-size: 18px;
    /*color: white;*/
}

/* Schedule Service Button */
.schedule-btn-window {
    background: orange;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-weight: bold;
    border-radius: 4px;
    text-align: center;
    font-size: 16px;
}

/* Button Icon Styling */
.button-icon-window {
    width: 20px; /* Adjust the icon size */
    height: 20px;
}
