* {
    font-family: 'Open Sans', sans-serif;
    /*margin: 0;*/
    /*padding: 0;*/
    box-sizing: border-box;
}

body {
    overflow-x: hidden; /* Prevent horizontal scrolling */
}

/* Wrapper for Header and Carousel */
.header-carousel-wrapper {
    background-image: url('../images/la-backdrop.jpg'); /* Replace with your image path */
    background-position: center -1vh; /* Adjust position responsively */
    background-size: cover; /* Ensure the background covers the container */
    background-repeat: no-repeat;
    position: relative; /* Ensure the child elements are positioned correctly */
    height: 100vh; /* Use viewport height for consistent banner size */
}

/* Optionally, add an overlay for better text visibility */
.header-carousel-wrapper::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /*background: rgba(0, 0, 0, 0.3); !* Adjust transparency and color as needed *!*/
    z-index: 1; /* Place overlay below header and carousel */
}

.carousel {
    position: relative;
    overflow: hidden;
    height: 50vh; /* Use viewport height */
    width: 60%; /* Full-width */
    /*margin: 3vw auto;*/
    margin: 12vw auto 5vw;
    padding-top: 5vw;
    padding-bottom: 5vw;
    border-radius: 8px;
    align-items: center;
    display: flex;
}

.slides {
    display: flex;
    transition: transform 0.5s ease-in-out;
    width: 100%;
}

.slide {
    position: relative;
    min-width: 100%;
    height: 50vh;
    display: flex;
    flex-direction: column; /* Stack content vertically */
    justify-content: center; /* Center content vertically */
    align-items: center; /* Center content horizontally */
    /*background-image: url('../images/light-pendulum.jpg');*/
    background-size: cover;
    background: rgba(201, 218, 248, 0.7) center -12vw;
    padding: 5vw; /* Adjust padding based on viewport width */
    text-align: center;
    flex: 0 0 100%; /* Prevent shrinking and growing */
}

.slide::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.slide > * {
    position: relative;
    z-index: 2;
}

.slide p {
    font-size: 1.1vw;
    color: #000000;
    margin-bottom: 1.25vw;
}

.slide h2 {
    color: #000000;
    font-size: 2vw;
    margin-bottom: 1vw;
}

.schedule-btn-window {
    background: #ff8f11;
    color: white;
    border: none;
    padding: 0.75vw 2vw; /* Use viewport width for padding */
    cursor: pointer;
    font-weight: bold;
    border-radius: 4px;
    text-align: center;
    font-size: 1vw;
    margin-top: 1vw;
}

.services-full-width {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 1vw 10vw;
    box-sizing: border-box;
    background-color: #ffffff;
    gap: 1vw;
    flex-wrap: wrap;
}

.services-text {
    flex: 2;
    text-align: center;
    max-width: 50%;
}

.services-text h2 {
    color: #14356b;
    font-size: 1.25vw;
    margin-bottom: 1vw;
    text-transform: uppercase;
}

.services-text p {
    color: #555;
    font-size: 1vw;
    line-height: 1.6;
    margin-bottom: 2vw;
}

.services-text .learn-more-btn {
    background: #ff8f11;
    color: white;
    border: none;
    padding: 0.75vw 0.75vw;
    cursor: pointer;
    font-weight: bold;
    border-radius: 4px;
    font-size: 1vw;
    text-transform: uppercase;
}

.services-text .learn-more-btn:hover {
    background: #ff8f11;
}

.services-icons {
    flex: 1;
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 2 columns grid */
    gap: .5vw; /* Adjust the spacing between cards */
    align-items: center;
    justify-items: center;
    text-align: center;
    width: 100%;
    padding: 4vw;
}

.service-item {
    background-color: #f9f9f9; /* Light background color for the card */
    border: 1px solid #ddd; /* Light gray border for the card */
    border-radius: 10px; /* Rounded corners */
    padding: 1.5vw; /* Internal padding */
    width: 100%;
    max-width: 200px;
    display: flex; /* Enable flexbox to center content */
    flex-direction: column; /* Stack the content vertically */
    justify-content: center; /* Vertically center content */
    align-items: center; /* Horizontally center content */
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Subtle box shadow */
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Smooth animation */
    cursor: pointer; /* Change the cursor on hover */
}

.service-item:hover {
    transform: scale(1.05); /* Slightly enlarge the card */
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2); /* Darker and deeper shadow */
    background-color: #fff; /* Optional: change the background color */
}

.service-item img {
    width: 4vw; /* Adjust the size of the icon */
    margin-bottom: 1vw; /* Space between image and text */
    transition: transform 0.3s ease; /* Smooth image animation */
}

.service-item:hover img {
    transform: scale(1.1); /* Enlarge the image slightly on hover */
}

.service-item h3 {
    font-size: 1vw; /* Adjust font size for better readability */
    margin: 0; /* Remove any margin to keep content tight */
    color: #14356b;
    transition: color 0.3s ease; /* Smooth text color animation */
}

.service-item:hover h3 {
    color: #ff9800; /* Optional: Change text color on hover */
}


.about-us-section {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1vw 4vw;
    gap: 5vw;
    background-color: #ffffff;
    border-radius: 8px;
    flex-wrap: wrap;
}

.about-us-image {
    flex: 2; /* Increase the size of the image */
    text-align: center;
    order: -1; /* Flip position: Move the image to the left */
}

.about-us-image img {
    width: 100%; /* Make the image take full width of its container */
    max-width: 100vw;
    margin-top: 0; /* Remove unnecessary top margin */
    border-radius: 20px;
}

.about-us-content {
    flex: 1.5; /* Keep the text area smaller than the image */
    padding: 2vw;
    text-align: left;
    max-width: 100%; /* Allow content to take full space */
}

.about-us-content h3 {
    font-size: 1.25vw;
    color: #14356b;
    margin-bottom: 2vw;
    text-transform: uppercase;
}

.about-us-content h4 {
    font-size: 1.1vw;
    color: black;
    margin-bottom: 1vw;
}

.about-us-content p {
    font-size: 1vw;
    color: #555;
    margin-bottom: 2vw;
    line-height: 1.6;
}

.testimonial-section {
    position: relative;
    width: 100%;
    overflow: hidden;
    color: #fff;
    padding: 1vw 10vw;
    box-sizing: border-box;
}

.testimonial-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    overflow: hidden;
}

.testimonial-background img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.85;
}

.testimonial-content {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 2;
    flex-wrap: wrap;
    gap: 5vw;
}

.testimonial-left {
    flex: 1;
    text-align: center;
    max-width: 40%;
    gap: 5vw;
}

.testimonial-left h2 {
    font-size: 1.25vw;
    margin-bottom: 2vw;
    color: #000000;
    text-transform: uppercase;
}

.testimonial-left p {
    font-size: 1vw;
    margin-bottom: 2vw;
    color: #555;
    line-height: 1.6;
}

.leave-review-btn {
    background-color: #c32d2d;
    color: #fff;
    border: none;
    padding: 0.75vw 0.75vw;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 1vw;
    transition: background-color 0.3s;
    gap: 1vw;
    display: inline-flex;
    align-items: center;
}

.leave-review-btn:hover {
    background-color: #a02424;
}

.testimonial-right {
    flex: 2;
    background-color: #fff;
    color: #333;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 5vw;
    text-align: center;
    height: fit-content;
}

.testimonial-right h3 {
    font-size: 1.25vw;
    font-weight: bold;
    margin: 2vw 0;
    color: #14356b;
}

.testimonial-right span {
    font-size: 2vw;
    color: #14356b;
    font-weight: bold;
    position: relative;
    display: block;
}

.testimonial-quote {
    font-size: 1.25vw;
    color: #555;
    line-height: 1.6;
    margin-bottom: 1vw;
}

.testimonial-author{
    font-size: 1.5vw;
    color: #14356b !important;
}

/* Responsive Adjustments */

/* Tablets (max-width: 768px) */
/* Tablets (max-width: 768px) */
@media (max-width: 768px) {
    .carousel {
        width: 90%;
        height: 50vh;
    }

    .slide {
        padding: 8vw;
        background-position: center;
    }

    .slide h2 {
        font-size: 5.25vw;
    }

    .slide p {
        font-size: 3vw;
    }

    .schedule-btn-window {
        font-size: 3vw;
        padding: 2.5vw 3vw; /* Bigger button size */
    }

    .services-text h2 {
        font-size: 5.25vw;
    }

    .services-text p {
        font-size: 4.5vw;
    }

    .service-item {
        padding: 6vw 3.5vw; /* Balanced padding to prevent overflow */
        width: auto; /* Allow width to adjust automatically */
        max-width: 90%; /* Prevent the card from becoming too wide */
        font-size: 3vw; /* Slightly reduce font size for better fit */
        border-radius: 12px; /* Keep the rounded edges */
        box-sizing: border-box; /* Ensure padding is considered in the width */
        text-align: center; /* Center-align text inside */
    }

    .service-item h3 {
        font-size: 5vw; /* Adjust heading size */
        margin: 1vw 0; /* Add some margin around the heading */
        line-height: 1.2; /* Reduce line-height for a tighter layout */
    }

    .service-item img {
        width: 8vw; /* Resize image slightly */
        max-width: 100%; /* Prevent image overflow */
        height: auto; /* Maintain aspect ratio */
        margin-bottom: 2vw; /* Add spacing below the image */
    }

    .service-item p {
        font-size: 2.8vw; /* Reduce font size of text */
        line-height: 1.4; /* Ensure enough spacing between lines */
        margin: 0; /* Prevent additional margins */
        word-wrap: break-word; /* Wrap long words to prevent overflow */
    }


    .services-full-width {
        flex-direction: column; /* Stack content vertically */
        padding: 5vw 2vw;
        gap: 3vw; /* Increase space between stacked elements */
    }

    .services-text {
        max-width: 100%; /* Allow the text to take the full width */
        text-align: center; /* Center align the text */
    }

    .services-icons {
        grid-template-columns: 1fr; /* Make icons stack in one column */
    }

    .about-us-section,
    .testimonial-content {
        flex-direction: column; /* Stack sections vertically */
        text-align: center;
        padding: 5vw 2vw;
    }

    .about-us-image img,
    .testimonial-right {
        width: 100%;
    }

    .about-us-content {
        padding: 2vw;
    }

    .about-us-content h3 {
        font-size: 5vw;
    }

    .about-us-content h4 {
        font-size: 4.75vw;
    }

    .about-us-content p {
        font-size: 4.5vw;
    }

    .testimonial-left h2 {
        font-size: 5.25vw;
    }

    .testimonial-left p {
        font-size: 4.5vw;
    }

    .leave-review-btn {
        font-size: 3vw; /* Bigger button size */
        padding: 2vw 3vw;
    }

    .testimonial-right h3 {
        font-size: 5vw;
    }

    .testimonial-right p {
        font-size: 4.5vw;
    }

    .testimonial-right span {
        font-size: 4vw;
    }
    .learn-more-btn {
        font-size: 3.5vw !important; /* Increase font size for better readability */
        padding: 3vw 4vw !important; /* Adjust padding for larger clickable area */
    }
}


/* Phones (max-width: 480px) */
@media (max-width: 480px) {
    .carousel {
        width: 100%;
        height: 80vh;
    }

    .slide {
        padding: 10vw;
        background-position: center;
    }

    .slides {
        height: 70vh;
    }

    .slide h2 {
        font-size: 4vw;
    }

    .slide p {
        font-size: 3.5vw;
    }

    .schedule-btn-window {
        font-size: 4vw;
        padding: 3vw 4vw; /* Bigger button size */
    }

    .services-full-width {
        padding: 8vw 4vw;
    }

    .services-text h2 {
        font-size: 5.25vw;
    }

    .services-text p {
        font-size: 4.5vw;
    }

    .service-item {
        padding: 6vw 4vw;
        width: 100%;
    }

    .service-item img {
        width: 12vw;
    }

    .about-us-section,
    .testimonial-content {
        flex-direction: column; /* Stack sections vertically */
        text-align: center;
        padding: 8vw 4vw;
    }

    .about-us-image img,
    .testimonial-right {
        width: 100%;
    }

    .about-us-content {
        padding: 2vw;
    }

    .about-us-content h3 {
        font-size: 5vw;
    }

    .about-us-content h4 {
        font-size: 4.75vw;
    }

    .about-us-content p {
        font-size: 4.5vw;
    }

    .testimonial-left h2 {
        font-size: 5.25vw;
    }

    .testimonial-left p {
        font-size: 4.5vw;
    }

    .leave-review-btn {
        font-size: 4vw; /* Bigger button size */
        padding: 3vw 4vw;
    }

    .testimonial-right h3 {
        font-size: 5vw;
    }

    .testimonial-right p {
        font-size: 4.5vw;
    }

    .testimonial-right span {
        font-size: 5vw;
    }
    .learn-more-btn {
        font-size: 4vw !important; /* Increase font size for better readability */
        padding: 4vw 6vw !important; /* Larger padding for easier tapability */
    }
}

